* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Red Hat Display", sans-serif;
}

:root {
	/* colors for buttons; MASK at footer and DESCRIPTION P uses same colors as button1 4D96A9*/
	--button1: #4D96A9;
	--button2: #855FB1;
	
	--button1Hover: #71C0D4;
	--button2Hover: #B18BDD;
	
	--button1FColor: #8FE3F9;
	--button2FColor: #D9B8FF;
	
	/*colors for typography*/
	--hColor: #28283D;
	--pColor: #87879D;
	
	--whiteColor: #FAFAFA;
	
	/*typography*/
	--blackWeight: 900;
	--mediumWeight: 500;
	
	--h1FontSize: 64px;
	/*64px line height*/
	--h2FontSize: 40px;
	/*44px line height*/
	
	--pFontSize: 18px;
	/*26px line height*/
	
	--overlineFontSize: 16px;
	/*26px line height, 4px character space, all caps, display Black*/
}

/*
.footerbg {
	width: 200px;
}
*/

.heroSplit { display: none;}
h1, h2{
	font-weight: var(--blackWeight);
	color: var(--hColor);
}

.hero {
	width: 100%;
}

nav {
	margin: 2.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1, h2 {
	font-size: 40px;
	line-height: 44px;
 	padding-bottom: 0.5em;
}

h1 {
	padding-top: 1em;
	max-width: 327px;
	margin: 0 auto;
}

h2 {
	font-size: 32px;
	line-height: 36px;
	max-width: 327px;
	margin: 0 auto;
}

p {
	font-size: 16px;
	line-height: 26px;
	color: var(--pColor);
	font-weight: var(--mediumWeight);
	max-width: 327px;
	margin: 0 auto;
}

.button3 span {
	color: var(--button2FColor);
	padding-left: 3px;
}

.button1 span{
	color: var(--button1FColor);
	padding-left: 3px;
}

footer h2, footer p {
	color: var(--whiteColor);
}

.footerDesc h2 {
	position: relative;
}

.footerDesc p {
	position: relative;
	margin-bottom: 25px;
	line-height: 26px;
	font-size: 18px;
	font-weight: var(--mediumWeight);
}

.overline {
	color: var(--button1);
	font-weight: var(--blackWeight);
	line-height: 26px;
	letter-spacing: 4px;
	text-transform:uppercase;
}

.mainSec p {
	padding-top: 10px;
	font-size: 16px;
}

.mainSec h2 {
	padding-top: 17px;
	max-width: 327px;
	margin: 0 auto;
}
/*
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
*/


/*
body :not(.hero, .heroSplit) {
	padding: 0 5em;
}
*/

.headerDesc, .mainSec, footer {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.mainSec {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footerDesc {
	background-color: #4D96A9;
	position: relative;
	width: 100%;
	height: 428px;
	padding: 80px 0 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* *************button styles**************** */

.headerButtons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button1, .button2, .button3 {
	padding: 16px 42px;
	background-color: gray;
	max-width: 193px;
	border-radius: 29px;
	color: white;
	font-weight: var(--blackWeight);
	text-align: center;
}

.button1 {
	background-color: var(--button1);
	margin: 1.6em 0 1em;
}

.button2 {
	max-width: 139px;
}

.button2, .button3 {
	padding: 16px 29px;
	background-color: var(--button2);
}

.button3 {
	margin: 0 auto;
	position: relative;
}

.button1:hover {
	background-color: var(--button1Hover);
	cursor: pointer;
}

.button2:hover, .button3:hover {
	background-color: var(--button2Hover);
	cursor: pointer;
}

/* *************img styles**************** */

.imgContainer {
	max-width: 327px;
	display: grid;
	grid-template-areas: 
		"img1 img2"
		"img3 img4";
	margin: 0 auto;
	gap: 24px 25px;
	padding: 3em 1em;
}

.imgContainer img {
	max-width: 100%;
	border-radius: 8px;
}

.img1 {grid-area: img1;}
.img2 {grid-area: img2;}
.img3 {grid-area: img3;}
.img4 {grid-area: img4;}

.footerbg {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background-position: center center;
/*	background-repeat: no-repeat;*/
	opacity: 0.1045;
	object-fit: cover;
}

/*
.footerbg::after {
	background-color: #4D96A9;
	width: 100%;
	height: 100%;
	display: block;
	position: relative;
	left: 0;
	bottom: 0;
	z-index: 2;
	background-blend-mode: ;
}
*/

/*
.footerbg::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
}
*/

/* *************decorative elements**************** */

div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 135px 0 0 0;
	position: relative;
}

div p{
	width: 56px;
	height: 56px;
	border: 1px solid rgba(135, 135, 157, 0.25);
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	font-size: 16px;
	font-weight: var(--blackWeight);
	position: relative;
	color: #87879D;
	background-color: white;
}

.dec2 {
	z-index: 2;
	margin-bottom: -28px;
}

div::before {
	content: "";
	height: 84px;
	width: 1px;
	position: absolute;
	top: -84px;
	background-color: rgba(135, 135, 157, 0.25);
	left: 50%;
}

/*
div p::after {
	position: absolute;
	color: rgba(135, 135, 157, 0.25);
	height: 84px;
	width: 1px;
	top: 0px;
	display: block;
	right: 5px;
}*/


/*********** tablet media query***********/

@media (min-width: 635px) {
	nav {
		padding-top: 80px;
		margin-top: 0;
	}
	
	h1 {
		max-width: 339px;
	}
	
	h2 {
		font-size: 40px;
		line-height: 44px;
	}
	
	.mainSec h2 {
		max-width: 445px;
	}
	
	footer h2 {
		max-width: 457px;
	}
	
	p {
		max-width: 573px;
	}
	
	.headerDesc p {
		padding-bottom: 30px;
		max-width: 457px;
	}
	
	.headerButtons {
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	
	.button1, .button2 {
		margin: 0;
	}
	
	.button1 {
		margin-right: 13px;
	}
	
	.imgContainer {
		display: flex;
	 	flex-direction: row;
		max-width: 164px;
		justify-content: center;
		align-items: center;
		padding-left: 1.2em;
		padding-right: 1.2em;
	}
	
	.mainSec p {
	font-size: 16px;
	}

	.mainSec h2 {
		max-width: 445px;
		margin: 0 auto;
	}
	
	.footerDesc {
	position: relative;
	}
	
	.footerDesc h2 {
	}
	.footerDesc p {
		
	}
}

/***********desktop media query***********/

@media (min-width: 1110px) {
/*
	.desktopHero { 
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
*/
	.hero { display: none;}
	
	.heroSplit {
		position: relative;
		max-width: 394px;
		display:flex;
		max-height: 303px;
	}
	
	.heroLeft {
		left: -30px;
		order: -1;
	}
	
	.heroRight {
		right: -30px;
		order: 3;
	}
	
	
	header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		overflow-x: hidden;
	}
	
	.headerDesc {
		order: 0;
		margin: 0;
	}
	
	h1 {
		font-size: var(--h1FontSize);
		line-height: 64px;
		max-width: 445px;
	}
	
	h2 {
		font-size: var(--h2FontSize);
		line-height: 44px;
	}
	
	.headerDesc p, p {
		font-size: var(--pFontSize);
		line-height: 26px;
		max-width: 540px;
	}
	
	.imgContainer {
		max-width: 255px;
	 	flex-direction: row;
		justify-content: center;
		align-items: center;
		padding-left: 0;
		padding-right: 0;
	}
	
	
	.mainSec p {
		max-width: 540px;
		margin: 0 auto;
	}
	
	.footerDesc {
	width: 100%;
	max-height: 308px;
	padding: 0 11em;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: left;
	margin: 0 auto;
		overflow: hidden;
	}
	
	.footerDesc p {
		max-width: 350px;
		margin: 0;
		padding: 0;
	}
	
	.footerDesc h2 {
		margin: 0;
		padding: 0;
	}
	
	.button3 {
		margin: 0;
		margin-left: 30px;
	}
}
